{% load static %}
{% load translate_data %}
<!DOCTYPE html>
<html>
    <head>
        <title>NEWS HEADLINES</title>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0/">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1 id="heading">TOP NEWS</h1>
        <br/>
        
        <form action="{% url 'home' %}" method="POST">
            <div id="bttns">
                {% csrf_token %}
                <input type="submit" name="Business" value="HEADLINES" />
                {% csrf_token %}
                <input type="submit" name="Business" value="BUSINESS" />
                {% csrf_token %}
                <input type="submit" name="Business" value="ENTERTAINMENT" />
                {% csrf_token %}
                <input type="submit" name="Business" value="HEALTH" />
                {% csrf_token %}
                <input type="submit" name="Business" value="SCIENCE" />
                {% csrf_token %}
                <input type="submit" name="Business" value="SPORT" />
                {% csrf_token %}
                <input type="submit" name="Business" value="TECHNOLOGY" />
            </div>    
        </form>
        
        <br/>
        <div class="hindi">
            <a href="{% url 'news in hindi' %}"><button lang="hi">{% translate "news in hindi" %}</button></a>
        </div>

        {% for i in data %}
            <div class="code">
                <p class="main">{{ i.title }}</p>

                    <a href="{{ i.urlToImage }}/" target="_blank"><img src="{{ i.urlToImage }}/"></a>
                    <br/>
                    <div class="describe">{{ i.description }}</div>

                <p class="cntn">{{ i.content }}</p>

                <p class="lnk">
                    <span>To get more information</span>
                    <a href="{{ i.url }}/" target="_blank">Click here</a>
                </p>
                
            </div>
            <br/><br/><br/><br/>
        {% endfor %}
        
    </body>
</html>