{% load static %}
{% load translate_data %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% translate "TOP NEWS" %}</title>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0/">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1 id="heading">{% translate "TOP NEWS" %}</h1>
        <br/>
        
        <form action="{% url 'news in hindi' %}" method="POST">
            <div id="bttns">
                {% csrf_token %}
                <input type="submit" name="Business" value="HEADLINES" />
                {% csrf_token %}
                <input type="submit" name="Business" value="business" />
                {% csrf_token %}
                <input type="submit" name="Business" value="entertainment" />
                {% csrf_token %}
                <input type="submit" name="Business" value="health" />
                {% csrf_token %}
                <input type="submit" name="Business" value="science" />
                {% csrf_token %}
                <input type="submit" name="Business" value="sport" />
                {% csrf_token %}
                <input type="submit" name="Business" value="technology" />
            </div>
        </form>

        <br/>
        <div class="hindi">
            <a href="{% url 'home' %}"><button> NEWS IN ENGLISH</button></a>
        </div>

        {% for i in data %}
            <div class="code">
                
                <p class="main">{% translate i.title %}</p>

                    <a href="{{ i.urlToImage }}/" target="_blank"><img src="{{ i.urlToImage }}/"></a>
                    <br/>

                    <div class="describe" lang="hi">{% translate i.description %}</div>

                <p class="cntn">{% translate i.content %}</p>

                <p class="lnk">
                    <span>{% translate "To get more information" %}</span>
                    <a href="{{ i.url }}/" target="_blank">{% translate "Click here" %}</a>
                </p>
                
            </div>
            <br/><br/><br/><br/>
        {% endfor %}
        
    </body>
</html>